/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* EIGEN CSS */

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

header{
    background: #1ccacd;
    margin-bottom: 1em;
}

header h3 {
    font-weight: 300;
    color: #FFF;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.slider {
    
}

img {
    height: 70vh;
    filter:opacity(60%);
}

.active{
    height: 75vh;
    filter:opacity(100%);
}

.button {
    top: 0;
    background-color: white; 
    color: white; 
    border-radius: 3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #1ccacd; 

}

.bts {
text-align: center;
}

section{
    width: 440vw;
    left: 0;
    position: relative;
    transition: all 1s;
}

.volgende1{
    left: -200px;
}

.volgende2{
    left: -300px;
}

.volgende3{
    left: -400px;
}



/*.vorige {
    left: 200px;
} */
